// colors

$DarkViolet: hsl(256, 26%, 20%);
$GrayishBlue: hsl(216, 30%, 68%);

$VeryDarkViolet: hsl(270, 9%, 17%);
$DarkGrayishViolet: hsl(273, 4%, 51%);
$VeryLightGray: hsl(0, 0%, 98%);

$fontSize: 16px;
$fontFamilyMain: 'DM Serif Display', serif;
$fontFamilySecondary: 'Karla', serif;

$mobile: 375px;
$tablet: 750px;
$desktop: 1200px;


